<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1707}}</string>
                <key>sourceSize</key>
                <string>{1080,1707}</string>
            </dict>
            <key>room-chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{318,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,326}}</string>
                <key>sourceSize</key>
                <string>{318,326}</string>
            </dict>
            <key>room-desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,533},{541,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,483}}</string>
                <key>sourceSize</key>
                <string>{541,483}</string>
            </dict>
            <key>room-dressing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{582,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,529}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>room-func.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1711},{216,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,320}}</string>
                <key>sourceSize</key>
                <string>{216,320}</string>
            </dict>
            <key>room-hang.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1711},{231,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,227}}</string>
                <key>sourceSize</key>
                <string>{231,227}</string>
            </dict>
            <key>room-role.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1711},{307,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,347}}</string>
                <key>sourceSize</key>
                <string>{307,347}</string>
            </dict>
            <key>room-windows.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1018},{504,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,478}}</string>
                <key>sourceSize</key>
                <string>{504,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-room.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:649aefe8d7c34c9ae6793971fee5edb0:1/1$</string>
            <key>textureFileName</key>
            <string>B-room.png</string>
        </dict>
    </dict>
</plist>
