<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal-list-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,955},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>animal-list-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,953},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>animal-list-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,955},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>line-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,91},{293,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,10}}</string>
                <key>sourceSize</key>
                <string>{293,10}</string>
            </dict>
            <key>pavilion-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{210,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,217}}</string>
                <key>sourceSize</key>
                <string>{210,217}</string>
            </dict>
            <key>pavilion-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,743},{277,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,290}}</string>
                <key>sourceSize</key>
                <string>{277,290}</string>
            </dict>
            <key>room-fountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1074},{175,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,145}</string>
            </dict>
            <key>room-ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,2},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>room-main-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{707,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,531}}</string>
                <key>sourceSize</key>
                <string>{707,531}</string>
            </dict>
            <key>room-main-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,572}}</string>
                <key>sourceSize</key>
                <string>{740,572}</string>
            </dict>
            <key>room-pool-301x206.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,758},{195,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>room-way-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,618},{209,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,128}}</string>
                <key>sourceSize</key>
                <string>{209,128}</string>
            </dict>
            <key>room-way-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,485},{328,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,256}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>room-way-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,386},{101,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,338}}</string>
                <key>sourceSize</key>
                <string>{101,338}</string>
            </dict>
            <key>single-way-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,535},{685,655}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,655}}</string>
                <key>sourceSize</key>
                <string>{685,655}</string>
            </dict>
            <key>single-way-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2},{257,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,494}}</string>
                <key>sourceSize</key>
                <string>{257,494}</string>
            </dict>
            <key>tree-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,485},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>tree-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>tree-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,576},{193,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,209}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>tree-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,771},{195,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,182}}</string>
                <key>sourceSize</key>
                <string>{195,182}</string>
            </dict>
            <key>tree-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,576},{180,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,209}}</string>
                <key>sourceSize</key>
                <string>{180,209}</string>
            </dict>
            <key>tree-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1074},{180,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,219}}</string>
                <key>sourceSize</key>
                <string>{180,219}</string>
            </dict>
            <key>tree-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,829},{243,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,244}}</string>
                <key>sourceSize</key>
                <string>{243,244}</string>
            </dict>
            <key>tree-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1022},{186,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,231}}</string>
                <key>sourceSize</key>
                <string>{186,231}</string>
            </dict>
            <key>tree-much.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,261},{222,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,467}}</string>
                <key>sourceSize</key>
                <string>{222,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-single.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:129f34737fe7ed06d7b5c0b4dd537ddb:1/1$</string>
            <key>textureFileName</key>
            <string>B-single.png</string>
        </dict>
    </dict>
</plist>
