<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,514}}</string>
                <key>sourceSize</key>
                <string>{513,514}</string>
            </dict>
            <key>l-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,517},{305,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,306}}</string>
                <key>sourceSize</key>
                <string>{305,306}</string>
            </dict>
            <key>l-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,824},{305,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,511}}</string>
                <key>sourceSize</key>
                <string>{305,511}</string>
            </dict>
            <key>l-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>l-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{304,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,304}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>l-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{306,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,513}}</string>
                <key>sourceSize</key>
                <string>{306,513}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape-border.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fe7e042421a545962e6e4be178c9d1:1/1$</string>
            <key>textureFileName</key>
            <string>shape-border.png</string>
        </dict>
    </dict>
</plist>
