<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,476}}</string>
                <key>sourceSize</key>
                <string>{475,476}</string>
            </dict>
            <key>s-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{267,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,268}}</string>
                <key>sourceSize</key>
                <string>{267,268}</string>
            </dict>
            <key>s-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{267,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,473}}</string>
                <key>sourceSize</key>
                <string>{267,473}</string>
            </dict>
            <key>s-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,480},{474,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,474}}</string>
                <key>sourceSize</key>
                <string>{474,474}</string>
            </dict>
            <key>s-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,271},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>s-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{268,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,475}}</string>
                <key>sourceSize</key>
                <string>{268,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape-entity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:129399d11a4032770855b94e11baf5fa:1/1$</string>
            <key>textureFileName</key>
            <string>shape-entity.png</string>
        </dict>
    </dict>
</plist>
