<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-129-79-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,397},{129,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,79}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>btn-129-79-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,509},{129,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,79}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>btn-146-92-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{146,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>btn-146-92-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{146,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>btn-203-81-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>btn-203-81-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>btn-252-82-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,389},{252,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,82}}</string>
                <key>sourceSize</key>
                <string>{252,82}</string>
            </dict>
            <key>btn-252-82-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,305},{252,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,82}}</string>
                <key>sourceSize</key>
                <string>{252,82}</string>
            </dict>
            <key>btn-253-83-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,220},{253,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,83}}</string>
                <key>sourceSize</key>
                <string>{253,83}</string>
            </dict>
            <key>btn-328-107-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,111},{328,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,107}}</string>
                <key>sourceSize</key>
                <string>{328,107}</string>
            </dict>
            <key>btn-328-107-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{328,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,107}}</string>
                <key>sourceSize</key>
                <string>{328,107}</string>
            </dict>
            <key>common-dialog-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>common-dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,393}}</string>
                <key>sourceSize</key>
                <string>{664,393}</string>
            </dict>
            <key>icon-common-skill-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,640},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,928},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,856},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,784},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,712},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,640},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,437},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,220},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>icon-common-skill-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,365},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,293},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>label-btn-common-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,856},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4534331d14804096d78b68d66edfe3e:1/1$</string>
            <key>textureFileName</key>
            <string>ui-common.png</string>
        </dict>
    </dict>
</plist>
