<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-game-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>collection-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,468},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>opt-skill-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,368},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>sp-achieve-game-90.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,509},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>sp-achieve-game-four-border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{318,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,244}}</string>
                <key>sourceSize</key>
                <string>{318,244}</string>
            </dict>
            <key>sp-collection-back-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,185},{181,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,149}}</string>
                <key>sourceSize</key>
                <string>{181,149}</string>
            </dict>
            <key>sp-collection-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{181,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,149}}</string>
                <key>sourceSize</key>
                <string>{181,149}</string>
            </dict>
            <key>sp-collection-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>sp-collection-what.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,455},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>sp-game-opt-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,410},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>sp-opt-game-double-lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,355}}</string>
                <key>sourceSize</key>
                <string>{93,355}</string>
            </dict>
            <key>sp-result-star-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,701},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sp-result-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>star-color-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,798},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,780},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,726},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,742},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,724},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,670},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>star-color-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>word-cn-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,646},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>word-cn-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,640},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>word-cn-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,530},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>word-cn-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>word-cn-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,587},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>word-cn-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,530},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>word-cn-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>word-cn-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,612},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>word-en-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,701},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>word-en-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,580},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>word-en-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,500},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>word-en-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,410},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>word-en-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,514},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>word-en-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,509},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>word-en-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,310},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-en-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,207},{101,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{101,33}</string>
            </dict>
            <key>word-fr-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,439},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>word-fr-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,577},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>word-fr-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>word-fr-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,404},{86,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,33}}</string>
                <key>sourceSize</key>
                <string>{86,33}</string>
            </dict>
            <key>word-fr-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,603},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>word-fr-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,97},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>word-fr-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,310},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-fr-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,433},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>word-gr-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,753},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>word-gr-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,561},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>word-gr-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,474},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>word-gr-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,661},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>word-gr-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,526},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>word-gr-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,411},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>word-gr-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,310},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-gr-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,596},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>word-jp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,644},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>word-jp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,615},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>word-jp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,588},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>word-jp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,697},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>word-jp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,669},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>word-jp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,631},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>word-jp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,582},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>word-jp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,688},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>word-pt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{107,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,26}}</string>
                <key>sourceSize</key>
                <string>{107,26}</string>
            </dict>
            <key>word-pt-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,668},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>word-pt-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,549},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>word-pt-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,612},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>word-pt-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>word-pt-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,343},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>word-pt-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,399},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>word-pt-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,371},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>word-sp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,718},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>word-sp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,668},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>word-sp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,549},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>word-sp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,371},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>word-sp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,669},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>word-sp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,371},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>word-sp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>word-sp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,343},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:089e6267ce158510bbfba697bc8d74fb:1/1$</string>
            <key>textureFileName</key>
            <string>ui-game.png</string>
        </dict>
    </dict>
</plist>
