<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>anm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>sp-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1374},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1238},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1102},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,966},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-108.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1510},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>sp-109.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,830},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,694},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-110.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1972},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>sp-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>sp-113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,196},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>sp-115.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,558},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,422},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,286},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1374},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-129.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,196},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1836},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1700},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-136.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1564},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-137.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1428},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1292},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1156},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1020},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,884},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,748},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,612},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,476},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,167},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,99},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,264},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Link.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922b217c4fb4ea265c25dd503ee3a5e8:1/1$</string>
            <key>textureFileName</key>
            <string>Link.png</string>
        </dict>
    </dict>
</plist>
