<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-165-86-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,195},{165,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,86}}</string>
                <key>sourceSize</key>
                <string>{165,86}</string>
            </dict>
            <key>btn-165-86-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,144},{165,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,86}}</string>
                <key>sourceSize</key>
                <string>{165,86}</string>
            </dict>
            <key>btn-165-86-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,140},{165,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,86}}</string>
                <key>sourceSize</key>
                <string>{165,86}</string>
            </dict>
            <key>btn-165-86-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,52},{165,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,86}}</string>
                <key>sourceSize</key>
                <string>{165,86}</string>
            </dict>
            <key>btn-200-90-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,52},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>btn-200-90-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,797},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>btn-200-90-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,595},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>btn-200-90-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,393},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>btn-200-90-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,191},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>btn-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,52},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{142,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,139}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>l-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,772},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,609},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,554},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,516},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,446},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,391},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,717},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>l-k-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,679},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>l-k-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,191},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>l-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,232},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>l-p-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,353},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-p-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,559},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-p-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,396},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-p-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,283},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-p-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,228},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>l-q.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,772},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>loading-bar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{685,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,57}}</string>
                <key>sourceSize</key>
                <string>{685,57}</string>
            </dict>
            <key>loading-bar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,191},{673,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,45}}</string>
                <key>sourceSize</key>
                <string>{673,45}</string>
            </dict>
            <key>star-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{174,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,187}}</string>
                <key>sourceSize</key>
                <string>{174,187}</string>
            </dict>
            <key>suit-btn-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,52},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>suit-btn-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tv-window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{835,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,48}}</string>
                <key>sourceSize</key>
                <string>{835,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c99008b91e319d24362f3c56ef9e8903:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
